<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>
      &#9992; &#9992; &#9992;
    </h1>
    <a href="/flights">Flights Lab</a>
  </body>
</html>
